﻿
@{
    ViewBag.Title = "Create an free account";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- ================ Signup section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 offset-lg-1">
                <!---->
            </div>
            <div class="col-lg-6">
                <div class="col-12">
                    <h2 class="contact-title">Create an free account</h2>
                </div>
                <form class="form-contact contact_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtname" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtemail" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email" >
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" id="txtphone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Phone'" placeholder="Enter Phone" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtpass" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" placeholder="Enter Password" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" id="txtconpass" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm password'" placeholder="Confirm Password" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="txtgender" >
                                    <option value="0" disabled selected>Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" id="txtcity" >
                                    <option value="0" disabled selected>City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button class="button button-contactForm boxed-btn" id="btnSignup">Create an account</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <!---->
            </div>
        </div>
    </div>
</section>
<!-- ================ Signup section end ================= -->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/UserSignupForm/SignupValidations.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>